{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/driver_approved.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- navbar creation -->
    <div> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <!-- Navbar content  -->
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/truckgreyIco.png' %}" class="logo">LMTS
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="owner_dash"> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="own_contact"> Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="own_about">About Us </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="adlogout"> Logout</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div> 
    <!-- creating table for mechanic approval & display -->
    <div class="con">
        <table class="table table-info table-striped table-bordered border-dark">
            <thead>
                <tr>
                    <th scope="col">Fullname</th>
                    <th scope="col">Profilepicture</th>
                    <th scope="col">Username</th>
                    <th scope="col">Age</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Skill</th>
                </tr>
            </thead>
            <tbody>
                {% for i in mech %}
                <tr>
                    <td>{{i.fullname}}</td>
                    <td><img src="{{i.profilepic.url}}" height="70" width="70"></td>
                    <td>{{ i.username }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.mobile }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.address}}</td>
                    <td>{{ i.skill}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    
    <!-- script for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>