{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/driver_waitlist.css' %}">
    <title>Driver weightlist</title>
</head>
<body>
    
    <div class="container">
        <div class="text-one">
            <p class="text-center">Your Account is not approved till now <br>Admin is checking your profile<br>You will be hired soon to our agency after completing the verification</p>
        </div>  
        <form class="form-group" action="drivlogout" metod="post">
            {% csrf_token %}
            <button type="submit" value="login" class="btn btn-danger">Logout</button>
        </form>
    </div>
    <!-- script for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>