{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_dash.css' %}">
    <title>Welcome User</title>
</head>
<body>
    <!-- navbar creation -->
    <div> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <!-- Navbar content  -->
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/truckgreyIco.png' %}" class="logo">LMTS
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="user_dash"> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="usercon"> Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="userabt">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="userlogout"> Logout</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div> 
    
    <!-- carousel creation -->
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/containers.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/626973ee966b6659746524e2_global_container_terminal_tracking.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/visual-mobile.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
    <!-- crating multiple buttons -->
    <div class="container">
        <div class="set">
            <form action="viewprofile" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success equal-width-btn">View Profile</button>
            </form>
            <form action="editprofile" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success equal-width-btn">Edit Profile</button>
            </form>
            <form action="placeorder" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success equal-width-btn">Place Order</button>
            </form>
            <form action="orderstatus" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success equal-width-btn">Order Status</button>
            </form>
            <form action="orderhistory" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success equal-width-btn">Order History</button>
            </form>
            <form action="editusername" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success equal-width-btn">Edit Username & Password</button>
            </form>
            <form action="userdelete" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success equal-width-btn">Delete Profile</button>
            </form>
        </div>
       
    </div>
    <!-- script for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>