/* styling nav bar */
.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

/* styling logo in nav bar */
.logo{
    max-width: 25%;
    max-height: 25%;
}

.container{
    text-align: center;
}

h1{
    color: red;
}