.img-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    
}

.container{
    text-align: center;
    font-style: oblique;
    color: fuchsia;
}
